@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
  }

.heading-container {
  text-align: center;
}

h2 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #FFF;
  background-color: #024434;
  display: inline-block;
  margin: 47px 0 20px;
}

h3 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 21px;
  color: #024434;
  text-align: center;
  margin: 40px 0 30px;
}

p, ul {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
}

ul {
  list-style-type: none;
}

.header {
  position: relative;
}

.header-img {
  width: 100vw;
  height: 520px;
  object-fit: cover;
}

.header-icons {
  position: absolute;
  width: 140px;
  left: 220px;
  top: 48px;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #FFF 2px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.header-icons .icon-circle:hover {
  background-color: #FFF;
  color: #024434;
}

.header-icons a {
  color: #FFF;
  text-decoration: none;
} 

.header-icons a:visited {
  color: #FFF;
  text-decoration: none;
} 

.headings {
  position: absolute;
  left: 24px;
  top: 121px;
  color: #FFF;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.heading-1 {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.04em;
}

.heading-2 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
}

.heading-3 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.profile-img {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 44%;
  top: 350px;
  border: solid #FFF 3px;
  border-radius: 50%;
  background-color: #FFF;
}  

.summary-section {
  background-color: #F4F4F4;
  padding: 49px 24px 43px 24px;
  margin-top: -10px;
}

.line {                          /** for the symbol in summary-section **/
  display: inline-block;
  width: 55px;
  height: 3px;
  background-color: #024434;
  margin-bottom: 4px;
}

.circle {                       /** for the symbol in summary-section **/
  display: inline-block;
  background-color: #024434;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-left: -10px;
} 

.tech-section {
  text-align: center;
  padding: 0px 24px 43px 24px;
}

.tech-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-list li {
  display: inline;
  margin-right: 6px;
}

.pink-text {
  color:#CC4E5C
}

.featured-projects-section {
  background-color: #F4F4F4;
  padding:  0 24px 43px 24px;
}

.project-header {
  font-family: Roboto;
  font-weight: 700;
  font-size: 17px;
  color: #024434;
  margin-top: 17px;
  line-height: 29px;
}

.tech-tag {
  background-color: #fbe3eb;
  padding: 5px 8px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 11px;
  color: #000;
  display: inline-block;
  margin: 8px 5px 10px 0;
}

.projects-container {
  margin: 25px 0 20px 0;
}

.projects-img-container {
  position: relative;
  width: 100%;
  height: 212px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(40%)
}

.img-header {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 28px;
  color: #FFF;
  position: absolute;
}

a:link.project {
  text-decoration: none;
  color: #000;
}

a:hover.project {
  text-decoration: underline;
  color:grey;
}

a:active.project {
  text-decoration: none;
  color: darkgray;
}

a:visited.project {
  text-decoration: none;
  color: black;
}

.my-thoughts-section {                  
  padding:  0 24px 33px 24px;
}

.thoughts-img-container {
  width: 100%;
  height: 210px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.thoughts-img {
  object-fit: cover;
  width: 100%;
}

.arrows {
  font-family: Roboto;
  font-weight: 700;
  font-size: 17px;
  color: #024434;
  line-height: 29px;
}

.thoughts-date {
  font-family: Roboto;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  color: #024434;
  margin-top: 27px;
}

.thoughts-date-inline {
  margin-top: 27px;
  display: inline;
  text-decoration: underline;
  font-family: Roboto;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  color: #024434;
  margin-top: 27px;
}

.thoughts-header {
  font-family: Roboto;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.thoughts-header-smaller {
  font-family: Roboto;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  display: inline;
  margin-top: 27px;
  text-decoration: underline;
}

.more-thoughts-container {
  margin: 10px 0 10px;
}

.skills-section {
  background-color: #F4F4F4;
  padding:  0 24px 40px 24px;
  text-align: center;
}

.skills-container {
  width: 150px;
  margin: 0 6px 0;
}

.skills-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.for-more-section {
  text-align: center;
  padding:  0 24px 40px 24px;
}

.for-more-icons {
  width: 250px;
  margin: 10px auto 0;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.for-more-icons a {
  color: #024434;
  text-decoration: none;
}

.icon-circle-green {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #024434 3px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.for-more-icons .icon-circle-green:hover {
  background-color: #024434;
}

.for-more-icons a:hover {
  color: white;
}

.for-more-icons:visited {
  color: #024434;
}

.contact-section {
  background-color: #E0707C;
  text-align: center;
  color: #FFF;
  padding: 60px 0 84px;
}

.contact-header {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 21px;
  padding-bottom: 30px;
}

.show-on-tablet {
  display: none;
}

@media (min-width: 767px) {
  h3 {
    margin: 40px 0 15px;
  }
  
  .header-img {
    height: 450px;
  }
  
  .header-icons {
    width: 210px;
    top: 5%;
    left: 63%;
    font-size: xx-large;
  }
  
  .icon-circle {
    height: 60px;
    width: 60px;
    border: solid #FFF 3px;
  }

  .headings {
    width: 300px;
    left: 15%;
    top: 12%;
  }
  
  .heading-1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .heading-2 {
    font-size: 47px;
    line-height: 57px;
  }
  
  .heading-3 {
    font-size: 30px;
    line-height: 47px;
    margin-top: 7px;
  }

  .profile-img {
    width: 200px;
    height: 200px;
    left: 64%;
    top: 270px;
  }

  .summary-section {
    padding: 70px 100px 70px 100px;
  }

  .tech-section {
    padding: 0px 100px 30px 100px;
  }

  .featured-projects-section {
    padding: 15px 100px 30px 100px; 
  }

  .projects-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .projects-container {
    width: 47%;
  }

  .projects-img-container {
    height: 170px;
  }

  .img-header {
    font-size: 25px;
  }

  .my-thoughts-section {
    padding: 15px 100px 30px 100px; 
  }

  .thoughts-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .thoughts-container {
    width: 45%;
  }

  .skills-flex {
    width: 460px;
    justify-content: space-between;
    margin: 0px auto 20px;
  }

  .for-more-icons {
    width: 300px;
    margin: 30px auto 30px;
  }

  .show-on-tablet {
    display: block;
  }
}

@media (min-width: 1024px) {
  .header-img {
    height: 600px;
  }

  .header-icons {
    top: 5%;
    left: 71%;
  }

  .headings {
    width: 500px;
    left: 17%;
    top: 9%;
  }
  
  .heading-1 {
    font-size: 25px;
    margin-bottom: 8px;
  }
  
  .heading-2 {
    font-size: 78px;
    line-height: 90px;
  }
  
  .heading-3 {
    font-size: 45px;
    line-height: 60px;
    margin-top: 7px;
  }

  .profile-img {
    width: 280px;
    height: 280px;
    left: 67%;
    top: 345px;
  }

  .summary-section {
    padding: 88px 300px 60px;
  }

  .tech-section {
      padding: 15px 300px 60px;
    }

  .featured-projects-section {
    padding: 15px 200px 30px;
  }

  .projects-img-container {
    height: 220px;
  }

  .my-thoughts-section {
    padding: 15px 220px 30px;
  }
}

@media (min-width: 1201px) {
  .summary-section p, .tech-section {
    width: 600px;
    margin: auto;
  }

  .my-thoughts {
    width: 820px;
    margin: auto;
  } 

  .projects-flex, .other-projects {
    width: 800px;
    margin: auto;
  }

  .my-thoughts-section {
    width: 650px;
    margin: auto;
  }
}
